/* css 바로 적용하는 방법 : Ctrl + F5 */
@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	color: #000;
}

/* 전체 화면 */
.wrapper {
	width: 100%;
	height: 100%;
	/*position: relative;*/
}

h1, h2, h3{
	margin-bottom: 20px;
}

h3{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 7% 0 0 25%;
	width: 50%;
	height: 70%;
	background-color: #f5f5f5;
	border-radius: 100px;
}

/* 모든 테이블에 적용 */
table{
	border-collapse: collapse;
}

table tr:first-child {
	font-weight: bold;
}

table tr {
	text-align: center;
}

table td , th{
	padding: 10px 20px 10px 20px;
}

input {
	border: none;
	background: transparent;
	border-bottom: 1px solid #333;
}

textarea{
	background: transparent;
	border: none;
	resize: none;
}

input:focus, textarea:focus{
	outline: none;
}

/* button style */
#btn{
	background-color: #dfdfdf;
	padding: 3px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	z-index: 100;
}

#btn:hover{
	background-color: #cdcdcd;
}

/* 메인 페이지 */
.logo {
	position: absolute;
	top: 5%;
	left: 3%;
	text-align: center;
	width: 10%;
	display: block;
	font-size: 32px;
	font-weight: bold;
}

/* 회원가입 화면에 필수사항 표시 */
.join-form span {
	color: red;
}

.board{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 85%;
	background-color: #f5f5f5;
	border-radius: 100px 0 0 0;
}

.my-info {
	margin: 5% 5% 0 5%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* + 새 글 쓰기 */
.my-info > p > a{
	color: #ababab;
}

.board p:last-child{
	position: absolute;
	top: 90px;
	right: 50px;
	font-size: 18px;
}

.board span:first-child{
	font-size: 28px;
	font-weight: bold;
}

.board span:nth-child(2){
	font-size: 28px;
}

/* 사진 */
.post{
	margin: 4% 0 0 5%;
	width: 90%;
	height: 70%;
	overflow: auto; /* 자동 스크롤 생성 */
	/* margin-right: 15px; */
	/* background-color: #e2d9ca; */
}

#post-list{
	column-width: 250px;
	column-gap: 15px;
}

#post-list figure{
	display: inline-block;
}

#post-list figure img{
	border-radius: 30px;
	margin-bottom: 30px;
}

::-webkit-scrollbar{
	display: none;
}

img{
	width: 250px;
}

img:hover{
	opacity: 0.5;
	transition: 0.5s;
}

.menu-close{
	position: absolute;
	top: 25%;
	left: 0;
	width: 10%;
	height: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.menu-open{
	position: absolute;
	top: 25%;
	left: 0;
	width: 10%;
	height: 380px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* 서브페이지 안 메뉴 목록 */
.menu-list {
	width: 100%;
	height: 300px;
	background: transparent;
}

.menu-list a {
	display: block;
	text-align: center;
	line-height: 100px;
	font-size: 17px;
}

/* 메뉴와 닫기 버튼 */
#menu-btn, #close-btn {
	position: fixed;
	left: 5%;
	transform: translate(-50%, 0);
	bottom: 10%;
	z-index: 99;
	font-size: 48px;
	cursor: pointer;
}

/* 즐겨찾기 관련 */
.favorite-friend{
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.f-f-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 친구 아이콘 */
.favorite-friend a {
	background: transparent;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	border: 1px solid #000;
	font-size: 18px;
	text-align: center;
	line-height: 80px;
	z-index: 98;
	overflow: hidden;
	margin-bottom: 20px;
}

/* 스크롤바 없애기 */
.favorite-friend::-webkit-scrollbar {
	display: none;
}

/* 즐겨찾기에 친구 없을 때 */
.n-f{
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	line-height: 70px;
	cursor: pointer;
}

/* 친구 검색 관련 */
.search {
	border: 1px solid #000;
	border-radius: 50px;
	position: absolute;
	top: 5%;
	right: 5%;
	display: flex;
	justify-content: space-between;
	width: 700px;
	height: 45px;
	z-index: 99;
	padding: 0 15px 0 15px;
	
}

/* 검색 input */
#search {
	width: 400px;
	border-bottom: 0;
	font-size: 17px;
}

/* 돋보기 */
#icons {
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
}

/* 테마변경 버튼*/
.themes {
	margin-top: 50px;
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* 친구 목록 친구 없을 때 */
.no-id {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* writer 글 관련 */
.writeForm form table, .update-form table, .start-page table, .login-form table, .join-form table, .friend-list-form table, .friends-list-table {
/*     width: 70%; */
    margin-top: 10px;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 0.5px #000;
}

.writer {
	border: none;
	width: 70px;
	margin-bottom: 5px;
}

.title {
	width: 400px;
	border: none;
}

/* footer */
footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	/*	z-index: -1;*/
}